body {
  font-family: "M PLUS 1", sans-serif;
  background-color: #12046c;
  color: aliceblue;
}

#total_marks {
  color: aquamarine;
}

#display_message {
  color: aquamarine;
}

#submit {
  width: 100%;
  height: 50px;
  font-size: large;
}

#q3_i {
  color: coral;
}

.correct_answers {
  color: gold;
}
